body {
    background-color: rgb(27, 27, 27);
    margin: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-body {
    display: flex;
}

.sidebar {
    background-color: rgb(32, 32, 32);
    top: 0;
    width: 200px;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

.sidebar li:hover {
    color: rgb(155, 155, 155);
}

.main-content {
    background-color: rgb(20, 20, 20);
    height: calc(100vh - 80px);
    top: 0;
    flex: 1;
    padding: 10px;
}

.player-container {
    display: flex;
    position: fixed;
    background-color: rgb(10, 10, 10);
    top: calc(100vh - 120px);
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.player {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.player audio {
    width: 50vw;
}

.now-playing {
    padding-bottom: 10px;
}

.player-track-cover {
    width: 100px;
    border-radius: 5px;
}

.track {
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.track img {
    width: 30px;
    margin-right: 10px;
    border-radius: 5px;
}

.track button {
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    margin-right: 20px;
    border-style: none;
    cursor: pointer;
}

.top-menu {
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: right;
}

.top-menu input {
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 110%;
    background-color: rgb(70, 70, 70);
    color: white;
    outline: none;
    width: 20vw;
}