body {
    background-color: rgb(27, 27, 27);
    margin: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-body {
    display: flex;
}

.sidebar {
    background-color: rgb(32, 32, 32);
    top: 0;
    width: 200px;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

.main-content {
    background-color: rgb(20, 20, 20);
    height: calc(100vh - 80px);
    top: 0;
    flex: 1;
    padding: 10px;
}

.player {
    position: fixed;
    background-color: rgb(10, 10, 10);
    top: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100vw;
}

.now-playing {
    padding: 20px;
}


.track {
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.track img {
    width: 30px;
    margin-right: 10px;
    border-radius: 5px;
}

.track button {
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    margin-right: 20px;
    border-style: none;
}